@media (prefers-color-scheme: light) {
  :root {
    --background: rgba(242, 212, 208, 1);
    --background-accent: rgba(79, 96, 226, 1);
    --glass-background: rgba(255, 255, 255, 0.2);
    --glass-border: rgba(255, 255, 255, 0.5);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(243 193 209);
    --background-accent: rgb(227 176 192);
    --background-dark-accent: rgb(214 143 156);
    --footer-accent: rgb(230, 170, 185);
    --glass-background: rgba(172, 172, 172, 0.2);
    --glass-border: rgba(255, 255, 255, 0.3);
    --font-colour: white;
    --star-colour: rgb(255 248 78);
    --subscribe-button-colour: white;
    --error-colour: #ff4d4d;
  }
}
